
<link rel="stylesheet" href="/css/user_profile.css">
<!-- img tag for displaying avatar -->
<img src="<%= user.avatar %>" alt="<%= user.name %>" width="100">
<!-- <h1>Codeial/profile page</h1>
<p><%= profile_user.name %></p>
<p><%= profile_user.email %></p> -->

<% if(user.id == profile_user.id){ %>
    <!-- if user matches then show the form -->
    <form action="/users/update/<%= profile_user.id %>" enctype="multipart/form-data" method="POST"> 
        <!-- enctype is encryption type..it tells that multiple types of data is being stored(like texts,images etc) now require in respecting models file-->
        <input type="text" name="name" placeholder="Your Name" value="<%= profile_user.name %>" required>
        <input type="email" name="email" placeholder="Your Email" value="<%= profile_user.email %>" required>
        <input type="file" name="Avatar" placeholder="Profile Picture">
        <input type="submit" value="Update">
    </form>
<% }else{ %>
    <!-- else show only the profile -->
    <p><%= profile_user.name %></p>
    <p><%= profile_user.email %></p>
<% } %>    